body,
h1,
h2,
p,
ul li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: whitesmoke;
}

header {
  background-color: dimgray;
  color: white;
  padding: 10px 0;
}

hgroup {
  margin: 0 20px;
}

hgroup h1,
hgroup h2 {
  margin-bottom: 10px;
}

nav {
  background-color: black;
  padding: 10px 0;
  position: sticky;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav a {
  color: white;
  text-decoration: none;
  position: relative;
  top: 10px;
}

main {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  margin-bottom: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

p,
ul {
  margin-bottom: 20px;
}

aside {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

aside ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

progress {
  margin: 5px auto;
  width: 100%;
  height: 30px;
}

progress::-webkit-progress-bar {
  background: red;
  border-radius: 10px;
}
progress::-moz-progress-bar {
  background: red;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: slateblue;
  border-radius: 10px;
}

footer {
  background-color: dimgray;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  position: relative;
  top: 10px;
}
